:root {
  --theme: rgb(100, 149, 237);
}
body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  background-color: white;
  transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: black;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--theme);
  margin-bottom: 8px;
  font-size: 18px;
}

input:focus {
  outline-width: 0;
  /* this is removes the black-border given by browser 
    instead of removing whole border*/
}

button {
  background: var(--theme);
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid var(--theme);
  cursor: pointer;
  border-radius: 3px;
}
button:active {
  transform: translateY(1px);
}
button:hover {
  opacity: 0.9;
}

#del-btn {
  color: var(--theme);
  background: white;
}
ul {
  padding-left: 5px;
  list-style: none;
  margin-top: 20px;
}
li {
  margin-top: 10px;
  color: var(--theme);
  font-weight: bold;
  font-size: 18px;
}
a {
  color: inherit;
}

.item-del-btn {
  background: rgb(243, 172, 172);
  padding: 2px;
  margin-left: 10px;
}

#modes {
  position: absolute;
  margin-top: 2px;
  right: 0;
  margin-right: 10px;
  padding: 3px;
}
